/* ---------------- Universal Selector ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #343a40;
  line-height: 1;
}

.table-container {
  width: 800px;
  margin: 150px auto;
}

table {
  border-collapse: collapse;
}

thead th {
  background-color: #087f5b;
  width: 25%;
  color: #fff;
  font-size: 18px;
}

th,
td {
  padding: 16px 24px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}
